doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title title
    link(rel="stylesheet", type="text/css", href="./css/stylesheets.css")
  body
    form(action"/", method="post")
      input(type='email', name='email', id="email")
      input(type='submit', name='submit', id="submit")
    if(successMessage)            
     div(class="success") #{successMessage}
    else if(memberExistsMessage) 
     div(class="failed") #{memberExistsMessage}
    else if(missingMessage) 
     div(class="failed") #{missingMessage}
    else if(invalidMessage) 
     div(class="failed") #{invalidMessage}
    script(type='text/javascript', src='./js/build.js')
